/* Inicio anuncio */

h4 {
    @extend %anuncio
}

.container-camion {
    &:hover {
        .camion {
        width: 75px;
        height: 75px;
        transform: translateX(200px);
        }
    }
}

.camion {
    width: 75px;
    height: 75px;
    transition: all 2s ease-in;
    }


/* Fin anuncio */