/* Inicio Registrate */
.btn {
    &.btn-cta {
        @include btn($primary-color, $secondary-color, 'true');
        &:hover {
            @include btn($secondary-color, $terciary-color, 'true');
            box-shadow: $box-shadow;
        }
    }
    &:hover {
        @include btn($terciary-color, $secondary-color, 'true');
        box-shadow: $box-shadow;
    }
}

.formulario {
    background-image: url(../../imagenes/madera.jpeg);
}
/* Fin Registrate */