/* Inicio Taller */

.el-taller {
    @extend %titulo-product
}

.taller {
    display: flex;
    justify-content: center;
    width: 1250px;
    height: 1000px;
    border: solid; color: rgb(179, 179, 179);
}

.taller1 {
    display: flex;
    justify-content: center;
}

/* Fin Taller */