%reset-pm {
    padding: 0;
    margin: 0;
}

%anuncio {
    background-color: rgb(179, 179, 179);
    color: rgb(7, 7, 49);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 20px;
}

%titulo-product {
    color: black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
}

%formulario {
        color: black;
        font-style: italic;
        font-family: Arial, Helvetica, sans-serif;
        padding: 20px 0px;
}